---

interface Props {
    label: string;
    heading: string;
    data: {
        id: string;
        img: {
            src: string;
            alt: string;
        };
        title: string;
        texts: string[];
        list?: {
            listLabel: string;
            text:string;
            listItems: {
              hover?:string;
                bold: string;
                text: string;
            }[];
        }[];
    }[];
}
const { data, label, heading } = Astro.props;



---

<section id="about" class="section-gray">
    <div class="container">
        <p class="section-label">{label}</p>
        <h2 class="section-title">{heading}</h2>
        {heading && <div class="red-bar" />}
        <div class="about-grid">
            {
                data &&
                    data.map((about) => (
                        <div class=`about-content ${about.img.src && 'hasImg'}` >
                            {about.img.src && <img class="about-img" src={about.img.src} alt={about.img.alt} />}
                            <div class="about-text">
                                {about.title &&
                                <h3>{about.title}</h3>
                                }
                                {about.texts.map((text) => (
                                    <p set:html={text}></p>
                                ))}
                                {about.list?.map((l) => (
                                    <>
                                        {l.text &&
                                        <p>{l.text}</p>
                                        }
                                        {l.listLabel && <strong>{l.listLabel}</strong>}
                                        {l.listItems && (
                                            <ul>
                                                {l.listItems.map((item) => (
                                                    <li data-hover={item.hover} >
                                                        <div class="list-item">
                                                            {item.bold && <strong>{item.bold}</strong>}
                                                          <p>{item.text}</p>
                                                        </div>

                                                    </li>
                                                ))}
                                            </ul>
                                        )}
                                    </>
                                ))}
                            </div>
                        </div>
                    ))
            }
        </div>
    </div>
</section>

<style>
    .about-grid {
        display: grid;
        gap: 2rem;

        @media (width > 1024px) {
            gap: 5rem;
        }
        .about-content {
            display: flex;
            gap: 2.5rem;
            flex-direction: column;

            @media (width > 1024px) {
                flex-direction: row;

                &.hasImg:nth-child(odd) {
                    flex-direction: row-reverse;
                }
            }

            .about-img {
                width: 100%;
                height: auto;
                object-fit: cover;
                aspect-ratio: 1;
                border-radius: 15px;
                flex-basis: 50%;
            }
            .about-text {
                display: flex;
                flex-direction: column;
                gap: 1.5em;
                @media (width > 1024px) {
                    max-width: 75%;
                }
                li{
                    cursor: pointer;
                }
                .list-item{
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    gap: 0.5ch;
                    @media (width> 1024px) {
                        flex-wrap: nowrap;
                    }
                }
            }
        }
    }
</style>
<script>
const hoverItems = document.querySelectorAll('[data-hover]');
hoverItems.forEach((item) => {
  let originalSrc = ''

  item.addEventListener('mouseenter', () => {
    const hoverImgUrl = item.getAttribute('data-hover') || '';
    const content = item.closest('.about-content');
    let img = content?.querySelector('.about-img');


    if (img) {
     originalSrc = img.getAttribute('src')??"";
    }else{
      img = document.createElement('img');
      img.className = 'about-img';
      content?.classList.add('hasImg');
      content?.insertAdjacentElement('afterbegin', img);
    }
    img.setAttribute('src', hoverImgUrl);
  });

  item.addEventListener('mouseleave', () => {
    const img = item.closest('.about-content')?.querySelector('.about-img');
    if (!img) return;

    img.setAttribute('src',originalSrc)
  });
});


</script>
